.datePickerStyleCreditCard {
  margin-top: 7px !important;
  height: 53px;
  border-radius: 11px;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background: #fff;
}

.selectDropDown {
  height: 51px;
  border-radius: 11px !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  background: #fff;
  width: 100%;
}

.btn-accent:hover {
  background: #dcdcdc;
  border-color: #dcdcdc;
}

.AddedBtnBgColor {
  background: #06ae42;
  border-color: #06ae42;
}

.removedBtnBgColor {
  background: #dcdcdc;
  border-color: #dcdcdc;
}

.onFilledStyle:hover {
  background: #06ae42;
  border-color: #06ae42;
}
